# Build artifacts
build/
install/
log/
.cache
*.pth
*.engine
__pycache__/
*.pyc

# Large data
weights/
*.png
*.jpg
*.jpeg
*.pfm
*.pcd
*.so
*.a
*.o
*.obj
*.out

# Git
.git/
.gitignore
.gitattributes

# IDE / editor
.opencode/
.vscode/
.idea/

# Debug
html/
latex/
Doxyfile

# Test files
testfiles_rectification/
