codes/s2m2/*
build/
install/
log/
timing_files/
weights/
.cache
*.pth
*.pyc 
#doxygen files: 
html/
latex/
Doxyfile
#trt engine file : 
*.engine
#opencode cache : 
.opencode
#python cache files
__pycache__/
#images : 
testfiles_rectification/
*.pcd
# Prerequisites
*.d
#images: 
*.png
*.jpg
*.jpeg
*.JPG
*.pfm
*.jpg
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
