codes/s2m2/*
.cache
*.pth
*.pyc 
#python cache files
__pycache__/
figures_for_readme/

testfiles_rectification/
weights/
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# --- CMake ---
# Ignore the entire build directory
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# --- IDEs and Editors ---
.cache/
.vscode/
.idea/
*.swp
*.swo

# --- ROS / PCL Specific ---
# If you generate local documentation
docs/doxygen_sqlite3.db
